.center{
    text-align: center;
}

.right{
	text-align: right;
	color: black;
}

.left{
	text-align: left;
	color: black;
}

.bandeau {
	width:100%;
    height:49px;
    background-color: rgb(136, 13, 23);
}

.espace {
	width:100%;
	height:12%;
	margin-bottom: unset;
}

.image{
	width:50px;
}

.image2{
	border: 3px solid;
	border-color: black;
}

.image3{
	width: 100%;
}

.contenu {
    width:560px;
    height:315px;
    background-color: #7c7c7c;
    border-color: black;
    border: 3px solid;
}

.bord{
    border: 3px solid;
    border-color: black;
}
.marge {
    margin: 2%;
}
body {
	margin : 0;
	background-image: url("https://cdna.artstation.com/p/assets/images/images/022/526/632/large/kiira-onew-helluva-bg-31-32.jpg?1575754478");
    background-size: cover;
    background-attachment: fixed;
}

#page
{
	display: flex;
	justify-content:space-around;
}

@media screen and (max-width: 640px) {
	#menu, #footer, aside {
	  display:none;
	}
	body {
	  font-size:120%;
	  color:black;
	}
  }